body {
    padding: 0;
    margin: 0;
}

.pubs_main {
    .block1 {
        background-image: url("../../../images/Pubs_image//pub1.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 700px;

        .flex_adress {
            display: flex;
            justify-content: right;
            align-items: end;
            padding: 25px;

            .adress {
                color: #FFF;
                font-family: Archivo Black;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .flex_desc {
            display: flex;
            align-items: flex-end;
            padding: 30px;

            .desc {
                color: #FFF;
                font-family: Archivo Black;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
    .block2{
        background-image: url("../../../images/Pubs_image//pub2.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 700px;

        .flex_adress {
            display: flex;
            justify-content: right;
            align-items: end;
            padding: 25px;

            .adress {
                color: #FFF;
                font-family: Archivo Black;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .flex_desc {
            display: flex;
            align-items: flex-end;
            padding: 30px;

            .desc {
                color: #FFF;
                font-family: Archivo Black;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

    }
    .block3{
        background-image: url("../../../images/Pubs_image//pub3.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 700px;

        .flex_adress {
            display: flex;
            justify-content: right;
            align-items: end;
            padding: 25px;

            .adress {
                color: #FFF;
                font-family: Archivo Black;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .flex_desc {
            display: flex;
            align-items: flex-end;
            padding: 30px;

            .desc {
                color: #FFF;
                font-family: Archivo Black;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
    .block4{
        background-image: url("../../../images/Pubs_image//pub4.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 700px;

        .flex_adress {
            display: flex;
            justify-content: right;
            align-items: end;
            padding: 25px;

            .adress {
                color: #FFF;
                font-family: Archivo Black;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .flex_desc {
            display: flex;
            align-items: flex-end;
            padding: 30px;

            .desc {
                color: #FFF;
                font-family: Archivo Black;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

    }
    .block5{
        background-image: url("../../../images/Pubs_image//pub5.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 700px;

        .flex_adress {
            display: flex;
            justify-content: right;
            align-items: end;
            padding: 25px;

            .adress {
                color: #FFF;
                font-family: Archivo Black;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .flex_desc {
            display: flex;
            align-items: flex-end;
            padding: 30px;

            .desc {
                color: #FFF;
                font-family: Archivo Black;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

    }
.block2{
        background-image: url("../../../images/Pubs_image//pub2.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 700px;

        .flex_adress {
            display: flex;
            justify-content: right;
            align-items: end;
            padding: 25px;

            .adress {
                color: #FFF;
                font-family: Archivo Black;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .flex_desc {
            display: flex;
            align-items: flex-end;
            padding: 30px;

            .desc {
                color: #FFF;
                font-family: Archivo Black;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

    }


}